body {
    font-family: sans-serif;
}

.knoppen {
    overflow: hidden;
}

.knoppen li {
    list-style-type: none;
    float: left;
}

.knoppen li.actief {
    background-color: orange;
}

.paneel {
    display: none;
}

.paneel.actief {
    display: block;
}

.paneel img {
    max-width: 100%;
}